@model OrderViewModel

<form method="post">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Дата и время</td>
                    <td>@Model.Date + @Model.Time</td>
                </tr>
                <tr>
                    <td>Адрес доставки</td>
                    <td>@Model.UserDeliveryInfo.userAdres</td>
                </tr>
                <tr>
                    <td>Получатель</td>
                    <td>@Model.UserDeliveryInfo.userOrderName</td>
                </tr>
                <tr>
                    <td>Почта</td>
                    <td>@Model.UserDeliveryInfo.userOrderEmail</td>
                </tr>
                <tr>
                    <td>Сумма заказа</td>
                    <td>@Model.Cost</td>
                </tr>
                <tr>
                    <td>Сообщение заказчика</td>
                    <td>@Model.UserDeliveryInfo.userOrderMessage</td>
                </tr>
                <tr>
                    <td>Статус заказа</td>
                    <td>
                        <select asp-for="@Model.Status" asp-items="@Html.GetEnumSelectList<OrderStatusViewModel>()" class="form-control"></select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="Order" asp-action="OrderDetailsStatus" asp-route-orderId="@Model.Id">Обновить статус</button>
</form>